@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.container {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
header {
  background-image: url("images/background\ c.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-top: 24px;
}
nav,
a {
  display: flex;
  gap: 34px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: capitalize;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}
.icon img {
  position: relative;
}
button a {
  color: #000;
}
.men {
  display: none;
}
.menu {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 0%;
  background-color: transparent;
  overflow-x: hidden;
}
.menu-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
}
.menu-content a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
  background: linear-gradient(
    268.98deg,
    rgba(217, 217, 217, 0.21) 34.89%,
    rgba(217, 217, 217, 0) 102.62%
  );
  box-shadow: inset 20px -20px 50px rgba(74, 225, 235, 0.4);
  filter: drop-shadow(0px 4px 15px rgba(52, 68, 69, 0.3));
  backdrop-filter: blur(27px);
  padding: 20px;
  font-size: 20px;
}
.navbar a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.tel {
  display: flex;
  gap: 16px;
  align-items: center;
}
.container1 {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
.header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 517px;
  height: 170px;
  /* left: 156px; */
  top: 255px;
}
.whatwedo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 3.1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.wepro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: clamp(39px, 2.5vw, 57px);
  line-height: 67px;
  /* or 118% */

  display: flex;
  align-items: center;
  letter-spacing: -0.25px;

  color: rgba(255, 255, 255, 0.9);
}
.laundry {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(35px, 2.5vw, 57px);
  line-height: 67px;
  /* or 118% */

  display: flex;
  align-items: center;
  letter-spacing: -0.25px;

  color: #4ae1eb;
}
.contactus {
  background: linear-gradient(
    268.98deg,
    rgba(217, 217, 217, 0.21) 34.89%,
    rgba(217, 217, 217, 0) 102.62%
  );
  box-shadow: inset 20px -20px 50px rgba(74, 225, 235, 0.4);
  filter: drop-shadow(0px 4px 15px rgba(52, 68, 69, 0.3));
  backdrop-filter: blur(27px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0px 42px 42px 0px;
  color: #fff;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 24px 65px;
  gap: 10px;

  position: absolute;
  width: 55%;
  height: 80px;
  left: 0px;
  top: 485px;
}
.typo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
section {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  height: 248px;
}
.cloths {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abtus {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 3.1px;
  text-transform: uppercase;

  color: rgba(51, 52, 67, 0.8);
}
.ourpurpose {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(28px, 2.5vw, 45px);
  line-height: 52px;
  /* or 116% */

  display: flex;
  align-items: center;

  color: #333443;
}
.washcloth {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(35px, 2.5vw, 45px);
  line-height: 52px;
  /* or 116% */

  display: flex;
  align-items: center;

  color: #333b8a;
}
.text {
  width: 457px;
  height: 144px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: rgba(51, 52, 67, 0.8);
}
.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  /* padding-top: 20px; */
}
.section1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  z-index: 100;
}
.imagrid {
  width: 100%;
}
.frame {
  color: #4ae1eb4d;
  font-size: 57px;
  display: flex;
  justify-content: end;
  margin-bottom: -38px;
  z-index: 10;
}
.box {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 41px 10px rgba(39, 42, 79, 0.1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.innertypo {
  color: #4ae1eb4d;
  font-size: 57px;
}
.imagrid img {
  margin-top: -50px;
  height: 1005;
  position: sticky;
  left: 29%;
}
.typo3 {
  color: rgba(51, 52, 67, 0.8);
  font-size: 12px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contain {
  display: flex;
  flex-direction: column;
}
.articles1 {
  padding-top: 50px;
}
.article2x {
  background-color: #3540ad;
  height: 168px;
  border-radius: 0px 48px 0px 0px;
}
.article3x {
  background-color: #3bb8c0;
  height: 168px;
}
.article1x {
  background-color: #3540ad;
  height: 168px;
  border-radius: 0px 0px 0px 48px;
}
.articles-2 {
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: space-around;
  height: inherit;
  padding: 20px;
}
.wash {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.innerarti {
  display: flex;
  align-items: center;
  gap: 20px;
}
.articles-3 {
  color: #fff;
  font-size: 16px;
  width: 450px;
}

.frames {
  color: #4ae1eb4d;
  font-size: 57px;
  position: relative;
  float: left;
  top: 15px;
  left: 156px;
}
.contents {
  background: #fff;
  display: flex;
  align-items: end;
  justify-content: end;
  height: 622px;
  margin-bottom: 20px;
}
.section {
  background: linear-gradient(
    257.34deg,
    #3d48b0 27.86%,
    #3f3db0 99.66%,
    rgba(61, 72, 176, 0.8) 99.66%
  );
  width: 80%;
  height: 340px;
  /* top: 282px; */
  left: 156px;
  border-radius: 110px 0px 0px 110px;

  display: flex;
  /* justify-content: ; */
  gap: 30px;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.typo1x {
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.typo2x {
  color: #fff;
  font-size: clamp(35px, 2.5vw, 45px);
  font-weight: 300;
  line-height: 52px;
}
.typo3x {
  color: #4ae1eb;
  font-size: clamp(33px, 2.5vw, 45px);
  font-weight: 400;
  line-height: 52px;
}
.img5 {
  flex-shrink: 0;
  position: relative;
  top: -235px;
  height: 100%;
}
.ourservices {
  display: flex;
  width: inherit;
  padding: 24px 0px 24px 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 42px 0px 0px 42px;
  background: linear-gradient(
    224deg,
    rgba(217, 217, 217, 0.21) 20.75%,
    rgba(217, 217, 217, 0) 100%
  );
  box-shadow: 0px 4px 15px 0px rgba(52, 68, 69, 0.3),
    20px -20px 50px 0px rgba(74, 225, 235, 0.4) inset;
  backdrop-filter: blur(27px);
}
.typosx {
  color: #fff;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  width: 80%;
}
.container1ft {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
footer {
  background: #20202a;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer1 {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.forms {
  display: flex;
}
.form {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(250, 250, 250, 0.12);

  display: flex;
  padding: 15px 206px 15px 16px;
  align-items: flex-start;
  gap: 10px;
  width: 60%;
  margin-right: -10px;
}
.typof {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  letter-spacing: 0.5px;
  display: flex;
  gap: 5px;
}
.button1 {
  border-radius: 8px;
  background: #4ae1eb;
  box-shadow: 0px 4px 25px 0px rgba(76, 188, 153, 0.15);
  padding: 10px 5px 10px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: clamp(12px, 2.5vw, 20px);
}
.ft {
  display: flex;
  gap: 50px;
}
.footeraside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.tpy {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.tpyy {
  color: #6e757d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.border {
  border: 1px solid #6e757d;
  width: 100%;
}

.lftyp {
  color: rgba(255, 255, 255, 0.7);

  /* M3/label/large */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.lfooter {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.lfinner {
  display: flex;
  gap: 10px;
}
.lfsvg {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .content {
    gap: 0;
  }
  .section {
    width: 90%;
  }
  .frames {
    left: 88px;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .men {
    display: block;
  }
  .menu {
    display: none;
    border-radius: 18px;
  }
  .tel {
    display: none;
  }
  .contactus {
    padding: 24px 0px 24px 0px;
  }
  .img5 > img {
    width: 60%;
  }
  .img5 {
    flex-shrink: 1;
    top: auto;
    height: 574px;
    display: flex;
    justify-content: center;
  }
  .frames {
    left: 20px;
  }
  .section {
    height: 98%;
    width: 90%;
    flex-direction: column-reverse;
    gap: 0;
    padding-block: 9px;
  }
  .content {
    align-items: flex-end;
    width: auto;
    gap: 5px;
  }
  .ourservices {
    padding: 11px 0px 11px 12px;
    width: 67%;
  }
  .footer1 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 14px;
  }
}
@media screen and (max-width: 425px) {
  header {
    height: 416px;
  }
  .header2 {
    width: 100%;
    top: 94px;
    gap: 0;
  }
  .navbar .container {
    height: 77px;
    padding-top: 0px;
  }
  .contactus {
    top: 285px;
    width: 80%;
  }
  .text {
    width: 100%;
    letter-spacing: 0px;
  }
  section {
    flex-direction: column;
    gap: 20px;
  }
  .sections {
    padding-top: 113px;
    gap: 10px;
  }
  .articles {
    gap: 40px;
  }
  .article2x {
    height: 100%;
  }
  .article1x {
    height: 100%;
  }
  .article3x {
    height: 100%;
  }
  .articles-2 {
    flex-direction: column;
  }
  .articles-3 {
    width: 250px;
  }
  .innerarti {
    flex-direction: column;
  }
  .frames {
    font-size: 40px;
  }
  .content {
    gap: 0;
  }
  .ourservices {
    width: 90%;
  }
  .img5 > img {
    width: 95%;
  }

}
@media screen and (max-width: 375px) {
  .ft {
    flex-wrap: wrap;
    justify-content: center;
  }
  .lfooter {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .typosx {
    text-align: center;
    width: 100%;
  }
  .forms {
    justify-content: center;
  }
  .logoe {
    padding-left: 15px;
  }
  .contain {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  /* .navbar .container {
    height: 65px;
  } */
  .contactus {
    top: 313px;
    width: 88%;
  }
  .typo {
    font-size: 12px;
  }
  .header2 {
    top: 105px;
  }
  section {
    padding-top: 25px;
    gap: 50px;
  }
  .articles-2 {
    gap: 20px;
  }
  .articles-3 {
    padding-right: 25px;
  }
  .img5 img {
    width: 100%;
  }
  .typosx {
    text-align: center;
    width: 100%;
  }
  .forms {
    justify-content: center;
  }
  .logoe {
    padding-left: 15px;
  }
}
